<% layout("./layouts/boilerplate") -%>
<br><br>
<div class="row mt-3">
    <div class="col text-center">
        Manage your finances
    </div>
</div>
<br>
<div class="row mt-3">
    <div class="col text-center">
        Debit what coomes in
    </div>
    <div class="col text-center">
        Credit what goes out
    </div>
    <div class="col text-center">
        Balance what is left
    </div>  
</div>
<br><br><hr>
<div class="row mt-3">
    <div class="col text-center">
        Why profin?
    </div>
</div>
<div class="row mt-3">
    <div class="col text-center">
        helps keep track of
    </div>
</div>
<div class="row mt-3">
    <div class="col text-center">
        finances
    </div>
    <div class="col text-center">
        Goals
    </div>
    <div class="col text-center">
        Taxes
    </div>
</div>
<br><br><hr>
<div class="row mt-3">
    <div class="col text-center">
        Get started with profin
    </div>
</div>
<div class="row mt-3">
    <div class="col text-center">
        <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#signinModal">Sign In</button>    
        &nbsp;&nbsp;&nbsp;&nbsp; 
        <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#signupModal">Sign Up</button>
    </div>
</div>
<!-- Sign-In Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="signinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signinModalLabel">Sign-In</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/signin">
                    <div class="mb-3">
                        <label for="signinEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" id="signinEmail" required>
                    </div>
                    <div class="mb-3">
                        <label for="signinPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="signinPassword" required>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary">Sign In</button>
                        </div>
                    </div>
                </form>
                <div class="row text-center">
                    <p class="mt-3">Don't have an account? <a href="#" data-bs-toggle="modal" data-bs-target="#signupModal">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sign-Up Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Sign-Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/signup">
                    <div class="mb-3">
                        <label for="signupEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" id="signupEmail" required>
                    </div>
                    <div class="mb-3">
                        <label for="signupPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="signupPassword" required>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                        <button type="submit" class="btn btn-success">Sign Up</button>
                        </div>
                    </div>
                </form>
                <div class="row text-center">
                    <p class="mt-3">Already have an account? <a href="#" data-bs-toggle="modal" data-bs-target="#signinModal">Sign In</a></p>
                </div>
            </div>
        </div>
    </div>
</div>