<%- layout("./layouts/boilerplate") -%>
<br><br>
<div class="row">
    <div class="col text-center">
        <h2>Profin</h2>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col text-center">
        Manage your finance
    </div>
</div>
<br><br>
<div class="row">
    <div class="col text-center">
        Finance <br>
        See where your money goes?
    </div>
    <div class="col text-center">
        Goals <br>
        Big dreams? Store here..
    </div>
    <div class="col text-center">
        Taxes <br>
        Take benefits of tax regime!
    </div>
</div>